<div class="controller">
    
    @{
        ViewBag.Title = "Administration";
    }

    <h2>Administration Functions</h2>

    <div class="sympaMsg">
        <p>@ViewBag.SympaMsg</p>
    </div>
    <ul class="menu2">
        @using Microsoft.AspNet.Identity
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                           }
        }
        else
        {
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            
        }
        <li>@Html.ActionLink("Load WMIC file  ", "Load", "Admin")</li>
        <li>@Html.ActionLink("Future function  ", "Future", "Admin")</li>
    </ul>

</div>