<div class="controller">
    @model ConfigMan.ViewModels.InstallationVM
    @{
        ViewBag.Title = Model.Message.Title;
    }
    <div>
        <h2>
            @Html.DisplayFor(model => model.Message.Title)
        </h2>
        <hr />
        <dl class="sy-dl">
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.ComputerName)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.ComputerName)
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.ComponentNameTemplate)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.ComponentNameTemplate) &nbsp;
            </dd>

            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.ComponentName)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.ComponentName) &nbsp;
            </dd>

            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.Release)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.Release) &nbsp;
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.VendorName)
            </dt>
            <dd class="sy-dd">
                @Html.DisplayFor(model => model.VendorName)
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.MeasuredDateTime)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.MeasuredDateTime) &nbsp;
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.InstallDate)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.InstallDate) &nbsp;
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.StartDateTime)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.StartDateTime)
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.EndDateTime)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.EndDateTime) &nbsp;
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.Location) &nbsp;
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.Count)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.Count) &nbsp;
            </dd>

        </dl>
    </div>
    <p>
        @Html.DisplayFor(model => model.Message.Tekst)
    </p>
    <p>
        @Html.ActionLink("Bewerk", "Edit", new
        {
            computerid = Model.ComputerID,
            componentid = Model.ComponentID,
                                                 release = Model.Release,
            startdatetime = Model.StartDateTime
        }, new { @class = "sy-a" }) |

        @Html.ActionLink("Terug naar lijst", "Index", "", new { @class = "sy-a" })
    </p>

</div>
