<div class="controller">
    @model IEnumerable<ConfigMan.ViewModels.InstallationVM>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Nieuwe Installation", "Create", "", new { @class = "sy-a" }) | 
        @Html.ActionLink("Terug naar Menu", "Menu", "Installations", new { @class = "sy-a" })
    </p>
    <div class="sympaMsg">
        <p>@ViewBag.SympaMsg</p>
    </div>
    <table class="sy-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComputerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComponentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Release)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Release)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDateTime)
                </td>
                <td>
                    @Html.ActionLink("Bewerk", "Edit", new { computerid = item.ComputerID, componentid = item.ComponentID,
                                                             release = item.Release, startdatetime = item.StartDateTime}, new { @class = "sy-a" }) |
                    @Html.ActionLink("Bekijk", "Details", new { computerid = item.ComputerID, componentid = item.ComponentID,
                                                             release = item.Release, startdatetime = item.StartDateTime}, new { @class = "sy-a" }) |
                    @Html.ActionLink("Verwijder", "Delete", new { computerid = item.ComputerID, componentid = item.ComponentID,
                                                             release = item.Release, startdatetime = item.StartDateTime}, new { @class = "sy-a" })
                </td>
            </tr>
        }

    </table>
   
       
   

</div>