<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SYMPA Configuration Manager</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="sympabody" onresize="initPage('resize')"> 
<div id="wrapper">
    <div class="header">        
        <div class="leftcol">&nbsp;
            <canvas id="sympaSprite"></canvas>
        </div>
        <div class="midcol">
            <div class="title">
                H o m e&nbsp;&nbsp;&nbsp;C o n f i g u r a t i o n&nbsp;&nbsp;&nbsp;M a n a g e r
            </div>           
        </div>   
    </div>
    <div class="content">
        <div class="leftcol">
            <ul class="menu">
                <li>@Html.ActionLink("Hoofd Menu", "Index", "Home")</li>
                <li>@Html.ActionLink("Admin Functies  ", "Index", "Admin")</li>
                <li>@Html.ActionLink("Computer    Beheer", "Menu", "Computers")</li>
                <li>@Html.ActionLink("Vendor      Beheer", "Menu", "Vendors")</li>
                <li>@Html.ActionLink("Component   Beheer ", "Index", "Components")</li>
                <li>@Html.ActionLink("Installatie Beheer ", "Menu", "Installations")</li>
                <li>@Html.ActionLink("Service     Beheer ", "Index", "Services")</li>
                <li>@Html.ActionLink("License     Rapport ", "Index", "Licenses")</li>
                <li>@Html.ActionLink("Documentatie     ", "Index", "Documentations")</li>
                <li>@Html.ActionLink("Over SYMPA          ", "About", "Home")</li>
                <li>@Html.ActionLink("Contact         ", "Contact", "Home")</li>
            </ul>
        </div>
        <div class="midcol" id="content">
            
                @RenderBody()
            
        </div>
        
    </div>
    <div class="footer">&nbsp;
        <footer class="cline">
            &copy; @DateTime.Now.Year - AdH.Code Application - Version: 2.1
        </footer>
    </div>    
    <div class="preload">
    </div>
</div>
    @RenderSection("scripts", required: false)
</body>
</html>
