<div class="controller">
    @model ConfigMan.ViewModels.VendorVM

    @{
        ViewBag.Title = "Vendor Delete";
    }

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Vendor</h4>
        <hr />
        <dl class="sy-dl">
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.VendorName)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.VendorName)
            </dd>

            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.VendorGroup)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.VendorGroup) &nbsp;
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Verwijder" class="sy-button" /> 
               
            </div>
        }
        <div>
            @Html.ActionLink("Terug naar lijst", "Index","", new { @class = "sy-a" } )
        </div>
    </div>
</div>
