<div class="controller">

    @model ConfigMan.ViewModels.VendorIndex
    @{
        ViewBag.Title = Model.Message.Title;
    }
    <h2>
        @Html.DisplayFor(model => model.Message.Title)
    </h2>
    <p>
        @Html.DisplayFor(model => model.Message.Tekst)
    </p>

    <div class="sy-div">
        @Html.ActionLink("Nieuwe Vendor", "Create", "", new { @class = "sy-a" }) |
        @Html.ActionLink("Terug naar Menu", "Menu", "Vendors", new { @class = "sy-a" }) |
        <div class="sy-aantal">
            @Html.DisplayNameFor(model => model.Aantal) :
            @Html.DisplayFor(model => model.Aantal)
        </div>
     </div>

        <table class="sy-table">

            @if (Model.VendorLijst != null)
            {
                var i = 0;

                foreach (var item in Model.VendorLijst)
                {
                    if (i == 0)
                    {
                        <tr>
                            <th></th>
                            <th>
                                @Html.DisplayNameFor(modelItem => item.VendorName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(modelItem => item.VendorGroup)
                            </th>


                        </tr>
                    }
                    i = i + 1;


                    <tr>
                        <td>
                            @Html.ActionLink("Bewerk", "Edit", new { id = item.VendorID }, new { @class = "sy-a" }) |
                            @Html.ActionLink("Bekijk", "Details", new { id = item.VendorID }, new { @class = "sy-a" }) |
                            @Html.ActionLink("Verwijder", "Delete", new { id = item.VendorID }, new { @class = "sy-a" })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VendorName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VendorGroup)
                        </td>


                    </tr>
                }
            }

        </table>
        <p>
            *** Einde van de lijst ***
        </p>


    </div>
