
<div class="controller">
    @model ConfigMan.ViewModels.SympaMessage
    @{
        ViewBag.Title = Model.Title;
    }

    <h2>
        @Html.DisplayFor(model => model.Title)
    </h2>
    <p>
        @Html.DisplayFor(model => model.Tekst)
    </p>


    <ul class="menu2">
        <li>@Html.ActionLink("Bewerk Vendor Data ", "Index", "Vendors")</li>
        <li>@Html.ActionLink("Vendors Zonder Installaties", "Report01", "Vendors")</li>
        <li>@Html.ActionLink("Vendors Zonder Componenten", "Report02", "Vendors")</li>
    </ul>
    <div>
        @Html.ActionLink("Hoofd Menu", "Index", "Home", "", new { @class = "sy-a" })
    </div>

</div>
