<div class="controller">
    @model IEnumerable<ConfigMan.ViewModels.VendorVM>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Vendors zonder componenten</h2>


    <div class="sympaMsg">
        <p>@ViewBag.SympaMsg</p>
    </div>
    <p>
        @Html.ActionLink("Terug naar Menu", "Menu", "Vendors", new { @class = "sy-a" })
    </p>
    <table class="sy-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorGroup)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorGroup)
                </td>

            </tr>
        }

    </table>


</div>