<div class="controller">
    @model ConfigMan.ViewModels.ComputerVM



    <div>
        <h2>
            @Html.DisplayFor(model => model.Message.Title)
        </h2>
        <hr />
        <dl class="sy-dl">
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.ComputerName)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.ComputerName)
            </dd>

            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.ComputerPurchaseDate)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.ComputerPurchaseDate) &nbsp;
            </dd>

            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.OS)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.OS) &nbsp;
            </dd>

        </dl>
    </div>
    <p>
        @Html.DisplayFor(model => model.Message.Tekst)
    </p>
    <p>
        @Html.ActionLink("Bewerk", "Edit", new { id = Model.ComputerID }, new { @class = "sy-a" }) |  @Html.ActionLink("Terug naar lijst", "Index", "", new { @class = "sy-a" })
    </p>

</div>
