<div class="controller">
    @model IEnumerable<ConfigMan.ViewModels.ComputerVM>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Nieuwe Computer", "Create", "", new { @class = "sy-a" }) | 
        @Html.ActionLink("Terug naar Menu", "Menu", "Computers", new { @class = "sy-a" })
    </p>
    <div class="sympaMsg">
        <p>@ViewBag.SympaMsg</p>
    </div>
    <table class="sy-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComputerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerPurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OS)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputerPurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OS)
                </td>
                <td>
                    @Html.ActionLink("Bewerk", "Edit", new { id = item.ComputerID }, new { @class = "sy-a" }) |
                    @Html.ActionLink("Bekijk", "Details", new { id = item.ComputerID }, new { @class = "sy-a" }) |
                    @Html.ActionLink("Verwijder", "Delete", new { id = item.ComputerID }, new { @class = "sy-a" })
                </td>
            </tr>
        }

    </table>
   
       
   

</div>