<div class="controller">
    @model ConfigMan.ViewModels.ComputerIndex
    @{
        ViewBag.Title = Model.Message.Title;
    }
    <h2>
        @Html.DisplayFor(model => model.Message.Title)
    </h2>
    <p>
        @Html.DisplayFor(model => model.Message.Tekst)
    </p>
    <p>

        @Html.ActionLink("Terug naar Menu", "Menu", "Computers", new { @class = "sy-a" })
    </p>

    <table class="sy-table">
        @if (Model.ComputerLijst != null)
        {
            var i = 0;

            foreach (var item in Model.ComputerLijst)
            {
                if (i == 0)
                {
                    <tr>

                        <th>
                            @Html.DisplayNameFor(modelItem => item.ComputerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => item.ComputerPurchaseDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => item.OS)
                        </th>

                    </tr>
                }
                i = i + 1;

                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.ComputerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ComputerPurchaseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OS)
                    </td>

                </tr>
            }
        }

    </table>
    <p>
        *** Einde van de lijst ***
    </p>




</div>