<div class="controller">
    @model IEnumerable<ConfigMan.ViewModels.ComputerVM>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Computers zonder installatie</h2>


    <div class="sympaMsg">
        <p>@ViewBag.SympaMsg</p>
    </div>
    <p>
        @Html.ActionLink("Terug naar Menu", "Menu", "Computers", new { @class = "sy-a" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComputerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ComputerPurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OS)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ComputerPurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OS)
                </td>

            </tr>
        }

    </table>


</div>