<div class="controller">
    @model ConfigMan.ViewModels.ComponentVM
   
    @{
        ViewBag.Title = "Component Add";
    }

    <h2>Nieuwe</h2>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Component</h4>
            <div class="sympaMsg">
                <p>@ViewBag.SympaMsg</p>
            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <dl class="sy-dl">
                <dt class="sy-dt">
                    @Html.LabelFor(model => model.ComponentName)
                </dt>
                <dd class="sy-dd">
                    @Html.EditorFor(model => model.ComponentName, new { htmlAttributes = new { @class = "sy-input", @autofocus = "autofocus" } })
                    @Html.ValidationMessageFor(model => model.ComponentName, "", new { @class = "text-danger" })
                </dd>
                
                
            </dl>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Aanmaken" class="sy-button" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Terug naar lijst", "Index", "", new { @class = "sy-a" })
    </div>


    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>

