<div class="controller">
    @model ConfigMan.ViewModels.ComponentVM
    @{
        ViewBag.Title = Model.Message.Title;
    }

    <div>
        <h2>
            @Html.DisplayFor(model => model.Message.Title)
        </h2>
        <hr />
        <dl class="sy-dl">
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.ComponentNameTemplate)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.ComponentNameTemplate)
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.VendorName)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.VendorName)
            </dd>


        </dl>
        <p>
            @Html.DisplayFor(model => model.Message.Tekst)
        </p>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Verwijder" class="sy-button" /> |  @Html.ActionLink("Terug naar lijst", "Index", "", new { @class = "sy-a" })

            </div>
        }

    </div>
</div>
