<div class="controller">
    @model ConfigMan.ViewModels.ComponentVM
    
    <div>
        <h2>
            @Html.DisplayFor(model => model.Message.Title)
        </h2>
        <hr />
        <dl class="sy-dl">
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.ComponentNameTemplate)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.ComponentNameTemplate)
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.Authorized)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.Authorized)
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.VendorName)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.VendorName)
            </dd>


        </dl>
    </div>
    <div>
        @Html.HiddenFor(model => model.ComponentID, new { @class = "sy-hiddenid" })
        @Html.HiddenFor(model => model.FilterData.ComponentFilter, new { @class = "sy-hiddenfilter", @id = "ComponentFilter" })
        @Html.HiddenFor(model => model.FilterData.VendorFilter, new { @class = "sy-hiddenfilter", @id = "VendorFilter" })
        @Html.HiddenFor(model => model.FilterData.AuthFilter, new { @class = "sy-hiddenfilter", @id = "AuthFilter" })
        @Html.HiddenFor(model => model.FilterData.Filterstr, new { @class = "sy-hiddenfilter", @id = "Filterstr" })
        @Html.HiddenFor(model => model.FilterData.Subsetstr, new { @class = "sy-hiddenfilter", @id = "Subsetstr" })
    </div>

    <p>
        @Html.DisplayFor(model => model.Message.Tekst)
    </p>

    <p>
        @Html.ActionLink("Toon overeenkomende installaties", "Match", new { id = Model.ComponentID }, new { @class = "sy-alist" }) |
        @Html.ActionLink("Bewerk", "Edit", new { id = Model.ComponentID }, new { @class = "sy-alist" }) |
        @Html.ActionLink("Terug naar lijst", "Index", "", new { @class = "sy-url" })
    </p>
</div>
