<div class="controller">
    @model ConfigMan.ViewModels.ComponentVM
    @{
        ViewBag.Title = Model.Message.Title;
    }

    <div>
        <h2>
            @Html.DisplayFor(model => model.Message.Title)
        </h2>
        <hr />
        <dl class="sy-dl">
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.ComponentNameTemplate)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.ComponentNameTemplate)
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.Authorized)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.Authorized)
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.VendorName)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.VendorName)
            </dd>


        </dl>
    </div>
    <p>
        @Html.DisplayFor(model => model.Message.Tekst)
    </p>

    <p>
        @Html.ActionLink("Bewerk", "Edit", new { id = Model.ComponentID }, new { @class = "sy-a" }) | @Html.ActionLink("Terug naar lijst", "Index", "", new { @class = "sy-a" })
    </p>

</div>
