<div class="controller">
    @model IEnumerable<ConfigMan.ViewModels.ComponentVM>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Nieuwe Component", "Create", "", new { @class = "sy-a" }) |   
        @Html.ActionLink("Terug naar Menu", "Menu", "Components", new { @class = "sy-a" })
    </p>
    
    <div class="sympaMsg">
        <p>@ViewBag.SympaMsg</p>
    </div>
    <table class="sy-table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ComponentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorName)
            </th>


            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ComponentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorName)
                </td>


                <td>
                    @Html.ActionLink("Bewerk", "Edit", new { id = item.ComponentID }, new { @class = "sy-a" }) |
                    @Html.ActionLink("Bekijk", "Details", new { id = item.ComponentID }, new { @class = "sy-a" }) |
                    @Html.ActionLink("Verwijder", "Delete", new { id = item.ComponentID }, new { @class = "sy-a" })
                </td>
            </tr>
        }

    </table>


</div>