<div class="controller">
    @model ConfigMan.ViewModels.ComponentVM
    
    <div>
        <h2>
            @Html.DisplayFor(model => model.Message.Title)
        </h2>
        <hr />
        <dl class="sy-dl">
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.ComponentNameTemplate)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.ComponentNameTemplate)
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.Authorized)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.Authorized)
            </dd>
            <dt class="sy-dt">
                @Html.DisplayNameFor(model => model.VendorName)
            </dt>

            <dd class="sy-dd">
                @Html.DisplayFor(model => model.VendorName)
            </dd>


        </dl>
    </div>
    <div>
        @Html.HiddenFor(model => model.ComponentID, new { @class = "sy-hiddenid" })
        @Html.HiddenFor(model => model.FilterData.ComponentFilter, new { @class = "sy-hiddenfilter"})
        @Html.HiddenFor(model => model.FilterData.VendorFilter, new { @class = "sy-hiddenfilter"})
        @Html.HiddenFor(model => model.FilterData.AuthFilter, new { @class = "sy-hiddenfilter"})
        @Html.HiddenFor(model => model.FilterData.Filterstr, new { @class = "sy-hiddenfilter"})
        @Html.HiddenFor(model => model.FilterData.Subsetstr, new { @class = "sy-hiddenfilter"})
    </div>

    <p>
        @Html.DisplayFor(model => model.Message.Tekst)
    </p>

    <p>
        @Html.ActionLink("Toon overeenkomende installaties", "Match", new { id = Model.ComponentID }, new { @class = "sy-alist" }) |
        @Html.ActionLink("Bewerk", "Edit", new { id = Model.ComponentID }, new { @class = "sy-alist" }) |
        @Html.ActionLink("Terug naar lijst", "Index", "", new { @class = "sy-url" })
    </p>

    <table class="sy-table">

        @if (Model.InstallationLijst != null)
        {
            var i = 0;

            foreach (var item in Model.InstallationLijst)
            {
                if (i == 0)
                {
                    <tr>
                        <th>&nbsp;</th>
                        <th>
                            @Html.DisplayNameFor(modelItem => item.ComputerName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => item.VendorGroup)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => item.ComponentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => item.Release)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => item.StartDateTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => item.EndDateTime)
                        </th>

                    </tr>
                }
                i = i + 1;

                <tr>
                    <td>
                        @Html.HiddenFor(model => item.ComponentID, new { @class = "sy-oldid" })
                        <div class="sy-koppel">
                        @Html.ActionLink("Koppel", "Koppel", new
                       {
                           computerid = item.ComputerID,
                           componentid = item.ComponentID,
                           release = item.Release,
                           startdatetime = item.StartDateTime,
                           newcomponentid = Model.ComponentID
                       }, new { @class = "sy-alist2" })
                        </div>
                        <div class="sy-gekoppeld">
                            Reeds gekoppeld
                        </div>
                    </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComputerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VendorGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComponentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Release)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateTime)
        </td>

        </tr>
    }
}

        </table>

        </div>
