<div class="controller">
    @model ConfigMan.ViewModels.ComponentIndex

    <h2>
        @Html.DisplayFor(model => model.Message.Title)
    </h2>
    <p>
        @Html.DisplayFor(model => model.Message.Tekst)
    </p>

    <p>
        
        @Html.ActionLink("Terug naar Menu", "Menu", "Components", new { @class = "sy-a" })
    </p>

    <table class="sy-table">
        @if (Model.ComponentLijst != null)
        {
            var i = 0;

            foreach (var item in Model.ComponentLijst)
            {
                if (i == 0)
                {
                    <tr>
                        
                        <th>
                            @Html.DisplayNameFor(modelItem => item.ComponentName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(modelItem => item.VendorName)
                        </th>



                    </tr>
                }
                i = i + 1;
                <tr>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.ComponentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VendorName)
                    </td>



                </tr>
            }
        }

    </table>

    <p>
        *** Einde van de lijst ***
    </p>


</div>